/* Target the about page */
.about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100% - 70px);
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Target the title container */
.about-title-container{
    display: flex;
    width: 80vw;
    background-color: rgb(50,50,50);
    border: 1px solid rgb(63, 63, 63);
    border-radius: 2rem;
    margin-top: 20px;
    padding: 50px;
    margin-bottom: 20px;
}

/* Target the image container */
.about-image-container{
    display: flex;
    position: relative;
    width: 25%;
    min-width: 250px;
    height: calc(20vw * 1.33);
    min-height: 333px;
    opacity: 0;
    animation: opacity-fade-in 1s ease-in 0.25s forwards;
}

/* Target the image in image container */
.about-image-container > img{
    z-index: 2;
    border-radius: 0.5rem;
    width: 100%;
    height: 100%;
}

/* Target second child in image container */
.about-image-container > :nth-child(2){
    display: flex;
    position: absolute;
    background-color: rgb(185, 176, 67);
    width: 100%;
    height: 100%;
    left: -5%;
    bottom: -5%;
    z-index: 1;
}

/* Target text container */
.about-text-container{
    width: 70%;
    height: 100%;
    max-height: max(250px * 1.33, calc(80vw * 0.3) * 1.33);
    margin-left: 50px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: rgb(255, 255, 255);
    scrollbar-width: 2px;
}

/* Target scroll bar */
.about-text-container::-webkit-scrollbar{
    background-color: rgb(255, 255, 255);
    width: 2px;
}

/* Target all p childs in text container */
.about-text-container > p{
    color: rgb(200, 200, 200);
    font-size: max(1rem, 1.75vw);
    opacity: 0;
}

/* Target third child */
.about-text-container > :nth-child(3){
    animation: fade-in-left 1s 0.25s forwards;
}

/* Target 5th child */
.about-text-container > :nth-child(5){
    animation: fade-in-left 1s 0.5s forwards;
}

/* Target first child in text container */
.about-text-container > :first-child{
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    animation: fade-in-right 1s 0.25s forwards;
}

/* Target the first child after element in text container */
.about-text-container > :first-child::after{
    content: " ";
    background-color: gold;
    margin-left: 10px;
    width: 50%;
    max-width: 200px;
    height: 3px;
    border-radius: 3rem;
}

/* 660px */
@media (max-width: 660px){
    .about-title-container{
        flex-direction: column;
        align-items: center;
        width: 80vw;
        min-width: 275px;
        height: fit-content;
        min-height: fit-content;
        padding: 20px;
    }

    .about-image-container{
        min-height: fit-content;
        height: calc(64vw * 1.33);
    }

    .about-image-container{
        width: 80%;
    }

    .about-text-container{
        margin-top: 50px;
        width: 100%;
        max-height: fit-content;
        margin-left: 0;
        overflow-y: visible;
    }
}
