.navbar{
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #232323;
    box-shadow: 0 2px 1px #1e1e1e;
    padding: 10px 5px 10px 5px;
}

.navbar-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    transform: translateY(-200px);
    animation-name: slide-down-intro;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.navbar-container div{
    display: flex;
    align-items: center;
}

.navbar-container > ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40%;
    justify-content: space-evenly;
}

.navbar-container > ul > li{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 5px;
    animation-name: bounce;
    animation-duration: 0.5s;
}

.navbar-container > ul > li:nth-child(1){
    animation-delay: 0.4s;
}


.navbar-container > ul > li:nth-child(2){
    animation-delay: 0.65s;
}

.navbar-container > ul > li:nth-child(3){
    animation-delay: 0.9s;
}

.navbar-container > div:first-child > p{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
}

.navbar-container > div:first-child > p:hover{
    transform: scale(1.1);
}

.navbar-container > ul > li > p{
    position: relative;
    color: white;
    opacity: 0.5;
    font-size: 1.25rem;
}

.navbar-container > ul > li > .active{
    opacity: 1;
}

.navbar-container > ul > li > p:not(.active):hover{
    opacity: 0.8;
}

.navbar-container > ul > li > .active::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: rgb(152, 223, 238);
    border-radius: 3rem;
    bottom: -5px;
    left: 0;
}

.github-logo > a > img{
    display: flex;
    width: 25px;
    height: 25px;
}

@keyframes slide-down-intro{
    100% {
        transform: translateY(0);
    }
}

@keyframes bounce{
    0% {
        transform: translateY(-3px);
    }
    10% {
        transform: translateY(-6px);
    }
    20% {
        transform: translateY(-9px);
    }
    30% {
        transform: translateY(-12px);
    }
    40% {
        transform: translateY(-15px);
    }
    50% {
        transform: translateY(-15px);
    }
    60% {
        transform: translateY(-12px);
    }
    70% {
        transform: translateY(-9px);
    }
    80% {
        transform: translateY(-6px);
    }
    90% {
        transform: translateY(-3px);
    }
    100% {
        transform: translateY(0px);
    }
}

@media (max-width: 610px){
    .navbar-container > ul > li > p{
        font-size: 0.75rem;
    }
    .navbar-container > div:first-child > p{
        font-size: 1rem;
    }
}